* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 2.5em;
  background-color: rgb(247, 244, 244);
}

article {
  box-shadow: 0 0 7px rgb(146, 140, 140);
  transition: transform 0.5s;
}

article:hover {
  transform: scale(1.06);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h4 {
  margin-top: -10px;
  font-size: 1.5rem;
}

main {
  padding: 30px 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-image {
  height: 190px;
  width: 100%;
}

.image-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.text-section {
  padding: 20px;
}

.hashtags {
  display: flex;
  gap: 7px;
  color: rgb(88, 86, 86);
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.title {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 5px;
}

.tag-title {
  border-bottom: 1px solid rgb(184, 178, 178);
  padding-bottom: 13px;
  margin-bottom: 15px;
}

.profile {
  display: flex;
  gap: 12px;
}

.user-name {
  font-size: 1.3rem;
  font-weight: 550;
}

.bottom-text {
  display: flex;
  gap: 80px;
  color: rgb(88, 86, 86);
  margin-top: 3px;
}

@media (min-width: 600px) and (max-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    font-size: 1.1rem;
  }
  .user-name {
    font-size: 1rem;
  }
  main {
    padding: 30px 5%;
  }
  .bottom-text {
    font-size: 0.8rem;
    gap: 50px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title {
    font-size: 1.1rem;
  }
  .user-name {
    font-size: 1rem;
  }
  .image-profile {
    height: 35px;
    width: 35px;
  }
  main {
    padding: 30px 5%;
  }
  .bottom-text {
    font-size: 0.8rem;
    gap: 30px;
  }
}

@media (min-width: 1201px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .title {
    font-size: 1.1rem;
  }
  .user-name {
    font-size: 1rem;
  }
  .image-profile {
    height: 35px;
    width: 35px;
  }
  .bottom-text {
    font-size: 0.8rem;
    gap: 15px;
  }
  main {
    padding: 30px 5%;
  }
}
