body {
    background-color: black;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px 0;
}

.box2 {
    transition: width 2s, height 2s, background-color 2s , color 1s, text-transform 0.5s, transform 2s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2:hover {
    width: 200px;
    height: 200px;
    background-color: rgb(128, 0, 96);
    color: white;
    text-transform: uppercase;
    transform: rotate(360deg);
}

.box1 {
    border-radius: 50%;
    animation: ball-animation 0.5s infinite;
}

@keyframes ball-animation {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}
.box4 {
    animation: box-animation 2s infinite ease-in-out;
    position: relative;
}

@keyframes box-animation{
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25% {
        background-color: blue;
        left: 200px;
        top: 0;
    }
    50% {
        background-color: orange;
        top: 200px;
        left: 200px;
    }
    75% {
        background-color: gray;
        left: 0;
        top: 200px;
    }
    100% {
        background-color: red;
        top: 0;
        left: 0;
    }
}

.box3 {
    position: relative;
    animation: roll-spin 3s ease-in-out infinite;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

@keyframes roll-spin {
    0% {
        color: white;
        background-color: brown;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        color: rgb(6, 85, 6);
        background-color: rgb(126, 29, 5);
        transform: rotate(360deg);
        left: 200px;
        top: 0;
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        color: white;
        background-color: brown;
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }
}

/* .box5 {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 500px;
    height: 500px;
}

.box5 div {
    background-color: pink;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bolder;
}

.one,
.two,
.three {
    display: none;
}
.one {
    animation: myAnimation1 0.5s infinite;
}
.two {
    animation: myAnimation2 2s;
}
.three {
    animation: myAnimation3 2s;
}
@keyframes myAnimation1 {
    0% {display: block; transform: translateY(2px);}
    50% {display: none;}
    100% {display: block;}
}
@keyframes myAnimation2 {
    0% {display: none;}
}
@keyframes myAnimation3 {
    0% {display: none;}
} */

.word {
    font-size: 50px;
    margin-left: 450px;
    margin-top: 50px;
    text-transform: uppercase;
    color: white;
    animation: animate 2s infinite linear;
    text-shadow: 5px 5px 0 rgb(230, 76, 161),10px 10px 0 rgb(124, 26, 189);
}

@keyframes animate {
    0%, 100% {
        text-shadow: 5px 5px 0 rgb(230, 76, 161),10px 10px 0 rgb(124, 26, 189);
    }
    50% {
        text-shadow: -5px -5px 0 rgb(124, 26, 189), -10px -10px 0 rgb(230, 76, 161);
    }
}